<!-- Header -->
<app-header>
  <button [matMenuTriggerFor]="menu" mat-icon-button matTooltip="Settings">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="signOut()">
      <mat-icon>logout</mat-icon>
      <span>Go out</span>
    </button>
  </mat-menu>
</app-header>

<!-- Create -->
<button (click)="openDialog(credentialTemplate)"
        class="add"
        mat-fab
        matTooltip="Add">
  <mat-icon>add</mat-icon>
</button>

<!-- Content -->
<div class="container py-3">
  @if (loading) {
    <div class="d-flex justify-content-center">
      <mat-spinner [diameter]="32"></mat-spinner>
    </div>
  } @else if (items.length) {
    <mat-card>

      <!-- Header -->
      <mat-card-header>
        <mat-card-title>Credentials</mat-card-title>
      </mat-card-header>

      <!-- Body -->
      <mat-action-list>
        @for (item of items; track item.id) {

          <!-- Site -->
          <mat-list-item (click)="openDialog(credentialTemplate, item)">
            <img matListItemAvatar [src]="item.site_icon" [alt]="item.site_name">
            {{ item.site_name }}
          </mat-list-item>
        }
      </mat-action-list>
    </mat-card>
  } @else {
    <div class="d-flex justify-content-center mat-hint">
      You don't have any saved credentials yet.
    </div>
  }
</div>

<!-- Credential dialog -->
<ng-template #credentialTemplate>

  <!-- Header -->
  <h2 mat-dialog-title>{{ form.id ? 'Edit' : 'Create' }}</h2>

  <!-- Content -->
  <div [formGroup]="form.form" mat-dialog-content>

    <!-- Site -->
    <div class="mt-3">
      <mat-form-field class="d-block">
        <mat-label>Site</mat-label>
        <input formControlName="site" matInput placeholder="https://domain.com" type="url"/>
      </mat-form-field>

      <!-- Error -->
      @if (form.error['site']) {
        <small class="text-danger">{{ form.error['site'][0] }}</small>
      }
    </div>

    <!-- Username -->
    <div class="mt-3">
      <mat-form-field class="d-block">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput/>
      </mat-form-field>

      <!-- Error -->
      @if (form.error['username']) {
        <small class="text-danger">{{ form.error['username'][0] }}</small>
      }
    </div>

    <!-- Password -->
    <div class="mt-3">
      <mat-form-field class="d-block">
        <mat-label>Password</mat-label>
        <input [type]="isPassword() ? 'password' : 'text'"
               formControlName="password"
               matInput/>

        <!-- Password visibility -->
        <button (click)="passwordToggle($event)"
                [matTooltip]="isPassword() ? 'Show password' : 'Hide password'"
                class="me-2"
                mat-icon-button
                matSuffix>
          <mat-icon>{{ isPassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>

        <!-- Copy to clipboard -->
        @if (form.id && form.viewMode) {
          <button [cdkCopyToClipboard]="form.form.value.password"
                  (cdkCopyToClipboardCopied)="copiedToClipboard()"
                  matTooltip="Copy to clipboard"
                  class="me-2"
                  mat-icon-button
                  matSuffix>
            <mat-icon>content_copy</mat-icon>
          </button>
        }
      </mat-form-field>

      <!-- Error -->
      @if (form.error['password']) {
        <small class="text-danger">{{ form.error['password'][0] }}</small>
      }
    </div>

    <!-- Note -->
    <div class="mt-3">
      <mat-form-field class="d-block">
        <mat-label>Note</mat-label>
        <textarea formControlName="note" matInput></textarea>
      </mat-form-field>

      <!-- Error -->
      @if (form.error['note']) {
        <small class="text-danger">{{ form.error['note'][0] }}</small>
      }
    </div>
  </div>

  <!-- Actions -->
  <div mat-dialog-actions>
    @if (form.viewMode) {

      <!-- Edit -->
      <button mat-button (click)="form.viewMode = false; form.form.enable()">Edit</button>

      <!-- Delete -->
      <button mat-button (click)="destroy(deleteTemplate)" class="me-auto">Delete</button>

      <!-- Close -->
      <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
    } @else {

      <!-- Cancel -->
      <button [disabled]="form.form.disabled" mat-button mat-dialog-close>Cancel</button>

      <!-- Save -->
      <button [disabled]="form.form.disabled"
              (click)="submit()"
              cdkFocusInitial
              mat-flat-button>
        Save
      </button>
    }
  </div>
</ng-template>

<!-- Delete dialog -->
<ng-template #deleteTemplate>

  <!-- Header -->
  <h2 mat-dialog-title>Delete permanently?</h2>

  <!-- Content -->
  <div mat-dialog-content>
    Are you sure you want to delete credential for
    <a [href]="form.data?.site" target="_blank">{{ form.data?.site }}</a>?
  </div>

  <!-- Actions -->
  <div mat-dialog-actions>

    <!-- Cancel -->
    <button mat-button mat-dialog-close>Cancel</button>

    <!-- Delete -->
    <button [mat-dialog-close]="true" cdkFocusInitial mat-button>Delete</button>
  </div>
</ng-template>
