@use '@angular/material' as mat;
@import "variables";

/** Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/** Bootstrap */

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/utilities/api";

/** Material */

@include mat.core();

@mixin mdc-surface-colors($theme) {
  $colors: (
    'surface',
    'surface-container-lowest',
    'surface-container-low',
    'surface-container',
    'surface-container-high',
    'surface-container-highest'
  );

  @each $color in $colors {
    --mdc-#{$color}: #{mat.get-theme-color($theme, $color)};
  }
}

html {
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);
  @include mdc-surface-colors($light-theme);

  @media (prefers-color-scheme: dark) {
    @include mat.system-level-colors($dark-theme);
    @include mdc-surface-colors($dark-theme);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/** Custom */

.mat-mdc-card {
  background-color: var(--mdc-surface-container) !important;
  box-shadow: none !important;
}

.mat-hint {
  color: var(--mdc-list-list-item-supporting-text-color);
}
